{% if mes_nome == 'January' %}
    Mês de Janeiro
    {% elif mes_nome == 'February' %}
        Mês de Fevereiro
    {% elif mes_nome == 'March' %}
        Mês de Março
    {% elif mes_nome == 'April' %}
        Mês de Abril
    {% elif mes_nome == 'May' %}
        Mês de Maio
    {% elif mes_nome == 'June' %}
        Mês de Junho
    {% elif mes_nome == 'July' %}
        Mês de Julho
    {% elif mes_nome == 'August' %}
        Mês de Agosto
    {% elif mes_nome == 'September' %}
        Mês de Setembro
    {% elif mes_nome == 'October' %}
        Mês de Outubro
    {% elif mes_nome == 'November' %}
        Mês de Novembro
    {% elif mes_nome == 'December' %}
        Mês de Dezembro
{% endif %}  