{% extends "perfil_e_quiz/index.html" %}
{% load static %}
{% block content %}  
<style>
   #dashboard {
            width: 80%;
            background-color: #fff;
            margin: auto;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
        #dashboard h1, #dashboard h2 {
            color: #333;
            text-align: center;
            margin-bottom: 20px;
            text-transform: uppercase;
        }
        #dashboard table {
            width: 100%;
            margin-bottom: 20px;
            border-collapse: collapse;
            border-radius: 8px;
            overflow: hidden;
            background-color: #fff;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
        #dashboard th, #dashboard td {
            padding: 12px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
        #dashboard th {
            background-color: #f0f0f0;
        }
        #dashboard tr:nth-child(even) {
            background-color: #f9f9f9;
        }
        #dashboard a {
            color: #0078d4;
            text-decoration: none;
        }
        #dashboard a:hover {
            text-decoration: underline;
        }
        #dashboard p {
            text-align: center;
        }
</style>


<div id="dashboard">
    <h1>Relatório Completo - ProMar Quiz</h1>

    <h2>Geral</h2>
    <table>
        <tr>
            <th>Total de Visitantes</th>
            <td>{{ total_visitantes }}</td>
        </tr>
        <tr>
            <th>Total de Acertos</th>
            <td>{{ total_acertos }}</td>
        </tr>
        <tr>
            <th>Total de Erros</th>
            <td>{{ total_erros }}</td>
        </tr>
    </table>

    <h2>Respostas Mais Acertadas</h2>
    <table>
        <tr>
            <th>Resposta</th>
            <th>Total de Acertos</th>
        </tr>
        {% for resposta in respostas_acertadas %}
        <tr>
            <td>{{ resposta.resposta__texto_resposta }}</td>
            <td>{{ resposta.total }}</td>
        </tr>
        {% endfor %}
    </table>

    <h2>Cidades com Melhor Desempenho</h2>
    <table>
        <tr>
            <th>Cidade</th>
            <th>Total de Acertos</th>
        </tr>
        {% for cidade in cidades_acertos %}
        <tr>
            <td>{{ cidade.municipio_escola }}</td>
            <td>{{ cidade.total_acertos }}</td>
        </tr>
        {% endfor %}
    </table>

    <h2>Notas Mais Dadas</h2>
    <table>
        <tr>
            <th>Nota</th>
            <th>Total</th>
        </tr>
        {% for nota in notas_mais_dadas %}
        <tr>
            <td>{{ nota.nota_visita }}</td>
            <td>{{ nota.total }}</td>
        </tr>
        {% endfor %}
    </table>

    <h2>Idades Mais Visitadas</h2>
    <table>
        <tr>
            <th>Idade</th>
            <th>Total</th>
        </tr>
        {% for idade in idades_mais_visitadas %}
        <tr>
            <td>{{ idade.idade }}</td>
            <td>{{ idade.total }}</td>
        </tr>
        {% endfor %}
    </table>

    <br>
    <p><a href="?export=excel">Exportar para Excel</a></p>
</div>
    

{% endblock %}
    
